@import "../node_modules/bootstrap/scss/bootstrap";

$primary: var(--primary);
$secondary: var(--secondary);
$success: var(--success);
$danger: var(--danger);
$warning: var(--warning);
$hover: var(--hover);

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

p {
  color: $secondary;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.success {
  background-color: var(--success);
}

.danger {
  background-color: var(--danger);
}

.warning {
  background-color: var(--warning);
}

.primary,
.secondary,
.success,
.danger,
.warning {
  width: 40px;
  height: 40px;
}

.btn:disabled {
  --bs-btn-disabled-color: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondary);
}

.btn-primary {
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-bg: var(--primary);
  &:hover {
    background-color: $primary;
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
  }
}

.btn-secondary {
  --bs-btn-active-border-color: var(--secondary);
  --bs-btn-active-bg: var(--secondary);
  --bs-btn-hover-border-color: var(--secondary);
  --bs-btn-border-color: var(--secondary);
  --bs-btn-bg: var(--secondary);
  &:hover {
    background-color: $secondary;
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
  }
}

.btn-danger {
  --bs-btn-active-border-color: var(--danger);
  --bs-btn-active-bg: var(--danger);
  --bs-btn-hover-border-color: var(--danger);
  --bs-btn-border-color: var(--danger);
  --bs-btn-bg: var(--danger);
  &:hover {
    background-color: $danger;
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
  }
}

.btn-outline-danger {
  --bs-btn-color: var(--danger);
  --bs-btn-border-color: var(--danger);
  --bs-btn-hover-bg: var(--danger);
  --bs-btn-hover-border-color: var(--danger);
  --bs-btn-active-bg: var(--danger);
  --bs-btn-active-border-color: var(--danger);
  --bs-btn-disabled-border-color: var(--danger);
  --bs-btn-disabled-color: var(--danger);
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}

.border-danger {
  border-color: $danger !important;
}

.border-success {
  border-color: $success !important;
}

.list-group-item.active {
  background-color: #ffffff;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  background-color: #ffffff;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
